<template>
</template>

<script>
    import AbstractDxpChainWidgetVoting from './AbstractDxpChainWidgetVoting'

    export default {
        name: 'DxpChainBenefactor',
        extends: AbstractDxpChainWidgetVoting,
        data () {
            return {
                votingObject: null,
                voted: false,
            }
        },
        methods: {
            onVotingObjectsUpdate() {
                this.voted = this.votingObject.voted;
            },
            onResolvedVotingProps: function() {
                let uniqueIdList = null;
                if (!!this.blockproducerIds && Object.keys(this.blockproducerIds).length == 1) {
                    uniqueIdList = this.blockproducerIds;
                }
                if (!!this.benefactorIds && Object.keys(this.benefactorIds).length == 1) {
                    if (uniqueIdList != null) {
                        this.text = "Please do only provide one object type for voting"
                    } else {
                        uniqueIdList = this.benefactorIds;
                    }
                }
                if (!!this.dxpcoreIds && Object.keys(this.dxpcoreIds).length == 1) {
                    if (uniqueIdList != null) {
                        this.text = "Please do only provide one object type for voting"
                    } else {
                        uniqueIdList = this.dxpcoreIds;
                    }
                }
                if (uniqueIdList == null) {
                    this.text = "Please provide exactly one object type for voting";
                    this.errored("Initializing failed");
                }
                this.votingObject = uniqueIdList[Object.keys(uniqueIdList)[0]];
            }
        }
    }
</script>

<style>
</style>
