<template>
  <div v-if="!loading" class="benefactor">
    <h3>Benefactor: {{benefactor.id}} - {{benefactor.name}}</h3>
    <div v-if="receives" class="status">
      <div v-if="receives.daily.float > 0">Status: Active</div>
      <div v-else>Status: Inactive</div>
    </div>
    <div v-else class="status">
      <div>Status: Unknown</div>
    </div>
    <div class="time">
      <div v-if="starts_in >= 0">Starts in: {{starts_in}} days</div>
      <div v-if="starts_in < 0">Ends in: {{ends_in}} days</div>
    </div>
    <div class="funding">
      <div v-if="current_in_USD">
          Funds: <a :href="'https://benefactors.dxpchain.foundation/' + benefactor.name" target="_blank">{{ Math.round(current_in_USD.float).toLocaleString() }} / {{ Math.round(asked_in_USD.float).toLocaleString() }} (USD)</a>
      </div>
      <div v-else>
          Funds: <a :href="'http://dxpchain-explorer.io/#/accounts/' + benefactor.benefactor_account" target="_blank">{{ benefactor.benefactor_account }}</a>
      </div>
    </div>
    <div class="votes">
      Votes: {{ Math.round(benefactor.total_votes_for / 100000).toLocaleString() }} DXP
    </div>
    <div class="voting" v-if="votingObject != null">
      <div v-if="!!votingObject.failed" class="done">Voting failed</div>
      <div v-if="votingObject.voted || voted" class="done">Voted &#10004;</div>
      <template v-else>
          <button v-if="beetFound" class="button" v-on:click="vote">Vote now</button>
          <template v-else>
              <div class="label">Beet was not found</div>
              <button @click="goToBeet()" class="button">Install now</button>
          </template>
      </template>
    </div>
  </div>
</template>

<script>
import {FetchChain} from 'dxpchainjs/es'
import AbstractDxpChainWidgetVoting from './AbstractDxpChainWidgetVoting'

export default {
    name: 'DxpChainBenefactor',
    extends: AbstractDxpChainWidgetVoting,
    data () {
        return {
            voted: false,
            FetchChain: FetchChain
    }
    },
    methods: {
        onVotingObjectsUpdate() {
            this.voted = this.votingObject.voted;
        },
        onResolvedVotingProps: function() {
            let uniqueIdList = null;
            if (!!this.blockproducerIds && Object.keys(this.blockproducerIds).length == 1) {
                uniqueIdList = this.blockproducerIds;
            }
            if (!!this.benefactorIds && Object.keys(this.benefactorIds).length == 1) {
                if (uniqueIdList != null) {
                    this.text = "Please do only provide one object type for voting"
                } else {
                    uniqueIdList = this.benefactorIds;
                }
            }
            if (!!this.dxpcoreIds && Object.keys(this.dxpcoreIds).length == 1) {
                if (uniqueIdList != null) {
                    this.text = "Please do only provide one object type for voting"
                } else {
                    uniqueIdList = this.dxpcoreIds;
                }
            }
            if (uniqueIdList == null) {
                this.text = "Please provide exactly one object type for voting";
                this.errored("Initializing failed");
            }
            this.votingObject = uniqueIdList[Object.keys(uniqueIdList)[0]];
        },
        /**
        * connection to dxpchain via dxpchainjs
        */
        onResolvedVotingId: function () {
            // enhance to allow dxpcore and blockproducer
            let benefactor = this.votingObject.object;
            this.benefactor = this.votingObject.object;

            let one_day = 1000 * 60 * 60 * 24;
            this.starts_in = Math.round((new Date(benefactor.work_begin_date + "Z") - new Date()) / one_day);

            this.ends_in = Math.round((new Date(benefactor.work_end_date + "Z") - new Date()) / one_day);

            let loadingDone = this.loadingDone.bind(this);

            let thiz = this;
            if (benefactor.benefactor_account == "1.2.364315") {
                fetch("https://api.benefactors.dxpchain.foundation/v1/escrow/" + benefactor.id, {
                    method: "GET",
                    headers: new Headers({
                        Accept: "application/json",
                        "content-type": "application/x-www-form-urlencoded"
                    })
                }).then(response => {
                    response.json().then((json) => {
                        thiz.current_in_USD = json.amounts.currency.total_max;
                        thiz.asked_in_USD = json.amounts.currency.asked;
                        thiz.receives = json.benefactor.receives;
                        loadingDone();
                    }).catch((err) => {
                        // could not load escrow details
                        console.log(err);
                        loadingDone();
                    })
                }).catch((err) => {
                    // could not load escrow details
                    console.log(err);
                    loadingDone();
                })
            } else {
                loadingDone();
            }
        },
        loadingDone: function() {
            this.loading = false;
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .benefactor
  {
    display:inline-block;
    border-radius: 15px;
    box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
    padding: 7px 5px 2px 0px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .benefactor h3
  {
    font-size:0.7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .benefactor .time
  {
    font-size:0.7em;
  }

  .benefactor .funding
  {
    font-size:0.7em;
  }

  .benefactor .votes
  {
    font-size:0.7em;
  }

  .benefactor .status
  {
    font-size:0.7em;
  }

  .benefactor .voting
  {
      font-size:0.7em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      float: right;
  }

  .benefactor .voting .done
  {
      padding-top: 0.7em;
  }

  .benefactor .voting .button
  {
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(25, 25, 25, 0.27);
    margin-top: 0em;
  }

  .benefactor .voting .label {
      font-size: 0.7em;
      color: gray;
      vertical-align: middle;
  }

</style>
