<template>
    <div class="widget--copyright">
        <a href="https://github.com/blockchainprojects/dxpchain-widget-voting">GitHub</a> &copy;
        <a href="http://www.blockchainprojectsbv.com/" target="_blank">Blockchain Projects BV</a>
        <a href="http://www.blockchainprojectsbv.com/" target="_blank">
            <img src="../assets/logo.png">
        </a>
    </div>
</template>

<script>
</script>

<style>
    .widget--copyright
    {
        font-size:0.8em;
    }

    .widget--copyright img {
        height: 1.6em;
        width: 1.6em;
    }
</style>
